// fonts
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 25px;
$font-size-xl: 36px;

// colors
$secondary-color: grey;
$first-letter-color: darkred;
$gradient: linear-gradient(30deg, black, white);
