body * {
    box-sizing: border-box;
}

.calculator-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100px;

    border: 1px dashed black;
}

.calculator-body input {
    max-width: 100%;
}

.calculator-body .calculator-action-button {
    width: 25%;
}

.calculator-body .calculator-number-button {
    width: 33%;
}

.calculator-body button:last-child {
    width: 60%;
}